<InstrumentationEngineConfiguration>
    <InstrumentationMethod>
        <Name>Single Return Repro Profiler</Name>
        <Description>A profiler to reproduce a bug when using single returns.</Description>
        <Module>SingleReturnRepro.Profiler.dll</Module>
        <ClassGuid>{3CA7144B-0FC3-4437-BDAD-8275760C2D44}</ClassGuid>
        <Priority>50</Priority>
    </InstrumentationMethod>
</InstrumentationEngineConfiguration>
